@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans:ital@0;1&display=swap');

:root {
    --yellow: #FFD600;
    --lightest-grey: #E1DEDE;
    --light-grey: #C4C4C4;
    --grey: #8E8E8E;
    --greyish: #748687;
    --dark-grey: #535556;
    --darker-grey: #424242;
    --darkest-grey: #444444;
    --black: #000;
    --white: #fff;

    --font-ropa: 'Ropa Sans', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-ropa);
}

